---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout>
    <header class="px-5 py-10 md:px-10 lg:px-20 flex flex-row text-center justify-center justify-items-center items-center">
        <div class=" flex flex-col gap-y-10 align-middle items-center">
            <h1 class="text-2xl lg:text-4xl text-black">Your Design Guide</h1>
            <p class="text-xl lg:text-2xl text-black pt-40">Pooka Labs is a dynamic and scalable agency that is committed to helping businesses transform their ideas into powerful and effective solutions. Our innovative approach is designed to challenge conventional thinking and drive fundamental changes in people's perceptions and behaviors.</p>
            <div class="border-2 border-black text-center px-6 py-2 rounded bg-black text-white w-40 hover:bg-white hover:text-black hover:border ease-in-out duration-300">
                <a href="mailto:join@pookalabs.com" target="_blank" rel="noopener noreferrer">Join Us</a>
            </div>
        </div>
    </header>

			<div class="flex flex-col items-center pb-16 gap-y-6 text-center px-5 py-10 md:px-10 lg:px-20">
				<p class="text-md lg:text-2xl pb-4">Our Vision</p>
				<h2 class="text-xl lg:text-4xl lg:leading-relaxed">Design and develop digital experiences that are innovative and visionary, while always putting the user first.</h2>
			</div>
            <div class="bg-dark-bg bg-no-repeat bg-top bg-cover px-5 py-12 md:px-10 lg:px-20 lg:py-32 w-full ">
				<p class="text-md lg:text-2xl pb-4 text-white text-center">How</p>
				<h2 class="text-2xl lg:text-4xl text-white capitalize text-center">push the boundaries of<br>innovation and vision</h2>
			</div>

    <div class="px-5 py-10 md:px-10 lg:px-20 lg:py-28 flex flex-col gap-y-11 ">
        <div>
            <div>
                <p>We Do</p>
                <h2 class="text-xl lg:text-4xl lg:leading-relaxed font-bold">Ideas to MVP
                    <br>Branding
                    <br>Digital Products</h2>
            </div>
        </div>
        <div>
            <div class="flex flex-row lg:justify-end gap-x-16">
                <p class="text-md lg:text-2xl pb-4">Logo Design
                    <br><br class="hidden lg:visible">Branding Design
                    <br><br class="hidden lg:visible">Packaging Desgin
                    <br><br class="hidden lg:visible">Graphic design</p>
                <p class="text-md lg:text-2xl pb-4 ">UX/UI Design
                    <br><br class="hidden lg:visible">Website Development
                    <br><br class="hidden lg:visible">Digital Products
                    <br><br class="hidden lg:visible">Motion design</p>    
            </div>
        </div>
    </div>
</BaseLayout>