---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout>
    <header class="px-5 py-10 md:px-10 lg:px-20 flex flex-row text-center justify-center justify-items-center items-center">
        <div class=" flex flex-col gap-y-10 align-middle items-center">
            <h1 class="text-2xl lg:text-4xl text-black">Your Design Guide</h1>
            <p class="text-xl lg:text-2xl text-black pt-40">Pooka Labs is a dynamic and scalable agency that is committed to helping businesses transform their ideas into powerful and effective solutions. Our innovative approach is designed to challenge conventional thinking and drive fundamental changes in people's perceptions and behaviors.</p>
            <div class="border-2 border-black text-center px-6 py-2 rounded bg-black text-white w-40 hover:bg-white hover:text-black hover:border ease-in-out duration-300">
                <a href="mailto:join@pookalabs.com" target="_blank" rel="noopener noreferrer">Join Us</a>
            </div>
        </div>
    </header>
</BaseLayout>