---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout>
    <div class="bg-white px-5 py-12 md:px-10 lg:px-20 lg:py-32">
        <div class="embedsocial-forms-iframe" data-ref="90fef97f4a7dd63915532e5b53f8dd89bf5e2c11" data-widget="true" data-height="auto"></div><script>(function(d, s, id){var js; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/cdn/ef.js"; d.getElementsByTagName("head")[0].appendChild(js);}(document, "script", "EmbedSocialFormsScript"));</script>
    </div>
</BaseLayout>