---
import BaseLayout from "../layouts/BaseLayout.astro";
import projects from "../projects.json"
---
<BaseLayout>
<!-- projects start -->
<div class="bg-project-bg bg-no-repeat bg-top bg-cover px-5 py-12 md:px-10 lg:px-20 lg:py-32 ">
    <div class="flex flex-col items-center gap-y-12">
    <h2 class="text-xl lg:text-4xl text-white text-center">Projects</h2>
    <div class="grid grid-cols-1 gap-x-4 gap-y-8 justify-items-strech items-strech lg:grid-cols-3">
        {projects.map((project)=>(
            <a class="bg-white p-5 rounded-xl " href={project.url} target="_blank" rel="noopener noreferrer" >
                <img src={`/assets/projects/${project.imageUrl}.png`} alt={project.heading+" "+project.body} class="rounded-md">
                <div class="pt-4" >
                    <h2 class="text-xl font-bold">{project.heading}</h2>
                    <p class="text-sm pt-1">{project.body}</p>
                </div>
            </a>
        ))}
    </div>
    <div class="border-2 border-white text-center px-6 py-2 rounded bg-white text-black w-40 hover:bg-black hover:text-white hover:border ease-in-out duration-300">
        <a href="/contact/" class="pt-16">Get in Touch</a>
    </div>
</div>
</div>
<!--projects end -->
</BaseLayout>