---
import { Alpine } from "alpinejs";
import CardGrid from "./CardGrid.astro";
---


<section>
  <div class="items-center ">
    <div class="justify-center w-full">
      <div x-data="{ tab: 'tab1' }">
        <ul class="flex justify-between mx-auto overflow-hidden text-sm text-center bg-[#202020] text-white border divide-x rounded-md">
          <li class="w-full">
            <!-- event handler set state to 'tab1' and add conditional :class for active state -->
            <a @click.prevent="tab = 'tab1'" href="#" class="inline-block w-full px-6 py-2 font-medium text-black bg-white border-b-2 border-transparent border-black" :class="{ ' bg-white text-black  border-black' : tab === 'tab1' }">
              UX/UI Design
            </a>
          </li>
          <li class="w-full">
            <a @click.prevent="tab = 'tab2'" href="#" class="inline-block w-full px-6 py-2 font-medium border-b-2 border-transparent" :class="{ ' bg-white text-black  border-black' : tab === 'tab2' }">
              Website Development
            </a>
          </li>
          <li class="w-full">
            <a @click.prevent="tab = 'tab3'" href="#" class="inline-block w-full px-6 py-2 font-medium border-b-2 border-transparent" :class="{ ' bg-white text-black  border-black' : tab === 'tab3' }">
              Logo & Branding
            </a>
          </li>
        </ul>
        <div class="py-4 pt-4">
          <!-- show tab1 only -->
          <div x-show="tab==='tab1'" >
            <main>
              <CardGrid tag={"ui"} />
            </main>
          </div>
          <div x-show="tab==='tab2'">
            <main>
              <CardGrid tag={"website"} />
            </main>
          </div>
          <div x-show="tab==='tab3'">
            <main>
              <CardGrid tag={"logo"} />
            </main>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>            