---
const {url} = Astro.props
---
<div class="text-center px-6 py-2 rounded bg-white text-black w-40 hover:bg-black hover:text-white ease-in-out duration-300">
    <a href={url} target="_blank" rel="noopener noreferrer">Get in touch</a>
</div>