---
import Navbar from "../components/Navbar.astro";
---
<header class="px-5 pt-10 pb-25 md:px-10 bg-fixed bg-hero-bg bg-no-repeat bg-top bg-cover h-screen lg:px-20 align-middle flex flex-col justify-between ">
    <Navbar />
    <div class="max-w-2xl">
        <div class="flex flex-col gap-y-6">
            <h1 class="text-4xl text-white">Transforming Your Digital Vision into Reality</h1>
            <p class="text-2xl text-white">We are a team of expert designers and developers who create beautiful, memorable brands and profitable digital experiences for businesses and startups.</p>
            <button class="px-6 py-2 rounded bg-white text-black w-40 hover:bg-black hover:text-white ease-in-out duration-300">Get in touch</button>
        </div>
    </div>
</header>