---
import { Image } from '@astrojs/image/components';
import logo from "../assets/logo.svg";
---
<nav class="flex flex-row w-full justify-between px-5 py-5 md:px-10 lg:px-20 items-center ">
    <div>
        <a href="/">
            <Image src={logo} width={120} alt="Pooka Labs Logo" />
        </a>
    </div>
    <div>
        <ul class="flex flex-row gap-x-4 lg:gap-x-20">
            <li>
                <a class="text-black text-xl hover:font-bold ease-in-out duration-200" href="/about/">Studio</a>
            </li>
            <li>
                <a class="text-black text-xl hover:font-bold ease-in-out duration-200" href="https://forms.mk/tWWb53" target="_blank" rel="noopener noreferrer">Contact</a>
            </li>
        </ul>
    </div>
</nav>