---
import { Alpine } from "alpinejs";
import { Image } from '@astrojs/image/components';
import logo from "../assets/logo.svg";

---
<div class="w-full mx-auto bg-white border-b 2xl:max-w-7xl">
    <div x-data="{ open: false }" class="relative flex flex-col w-full p-5 mx-auto bg-white md:items-center md:justify-between md:flex-row md:px-6 lg:px-8">
      <div class="flex flex-row items-center justify-between lg:justify-start">
        <a href="/">
            <Image src={logo} width={120} alt="Pooka Labs Logo" />
        </a>
        <button @click="open = !open" class="inline-flex items-center justify-center p-2 text-black hover:text-black focus:outline-none focus:text-black md:hidden">
          <svg class="w-6 h-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
            <path :class="{'hidden': open, 'inline-flex': !open }" class="inline-flex" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
            <path :class="{'hidden': !open, 'inline-flex': open }" class="hidden" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <nav :class="{'flex': open, 'hidden': !open}" class="flex-col flex-grow hidden pt-10 pb-5 md:flex lg:py-0 md:justify-end md:flex-row">
        <ul class="space-y-4 list-none md:space-y-0 md:items-center md:inline-flex">
          <li>
            <a href="/projects/" class="px-2 lg:px-8 text-md border-b-2 border-transparent text-black lg:text-xl hover:font-bold ease-in-out duration-200">
              Projects
            </a>
          </li>
          <li>
            <a href="/about/" class="px-2 lg:px-8 text-md border-b-2 border-transparent text-black lg:text-xl hover:font-bold ease-in-out duration-200">
              Studio
            </a>
          </li>
          <li>
            <a href="/contact/" class="px-2 text-md border-b-2 border-transparent text-black lg:text-xl hover:font-bold ease-in-out duration-200">
              Contact
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>            