---
import { SEO } from "astro-seo";
import { Image } from '@astrojs/image/components';
import logo from "../assets/logo.svg";
import "../styles/global.css"

---
<html lang="en">
	<!-- head start -->
	<head>
		<meta charset="utf-8" />
		<SEO
      title="Pooka Labs - Accessibility-First UX/UI Design Studio"
      description="Pooka Labs is a Pune-based innovative and accessibility-first design studio, specializing in user-centered UX/UI design, logo and branding, digital product design, social media marketing, and website development. Our team of experts creates unique, visually stunning designs that will make your business stand out from the competition."
	  charset="utf-8"
      openGraph={{
        basic: {
          title: "Pooka Labs - Accessibility-First UX/UI Design Studio",
          type: "A type.",
          image: "../assets/ogimage.png",
        },
		optional:{
			description : "Pooka Labs Design Studio is an innovative accessibility-first UX/UI design studio that specializes in logo and branding, digital product design, social media marketing, and website development."
		}
      }}
      twitter={{
        creator: "@pookalabsdesign"
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.svg" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: "../assets/ogimage.png",
          },
          { name: "twitter:title", content: "Pooka Labs Design Studio - Innovative Accessibility-First UX/UI Design" },
          { name: "twitter:description", content: "Pooka Labs Design Studio is an innovative accessibility-first UX/UI design studio that specializes in logo and branding, digital product design, social media marketing, and website development." },
        ],
      }}
    />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<script type="text/partytown">
			(function(c,l,a,r,i,t,y){
				c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
				t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
				y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
			})(window, document, "clarity", "script", "grlebbceti");
		</script>
        <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1N6J2GHYC7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1N6J2GHYC7');
</script>
	</head>
	<!-- head end -->
	<!-- body start -->
	<body>
	<!-- navbar start -->
		<nav class="flex flex-row w-full justify-between px-5 py-5 md:px-10 lg:px-20 items-center ">
			<div>
				<a href="/">
					<Image src={logo} width={120} alt="Pooka Labs Logo" />
				</a>
			</div>
			<div>
				<ul class="flex flex-row gap-x-4 lg:gap-x-20">
					<li>
						<a class="text-black text-xl hover:font-bold ease-in-out duration-200" href="/about/">Studio</a>
					</li>
					<li>
						<a class="text-black text-xl hover:font-bold ease-in-out duration-200" href="/projects/">Projects</a>
					</li>
					<li>
						<a class="text-black text-xl hover:font-bold ease-in-out duration-200" href="https://forms.mk/tWWb53" target="_blank" rel="noopener noreferrer">Contact</a>
					</li>
				</ul>
			</div>
		</nav>
	<!-- navbar end -->
    <slot />
<!-- footer start -->
		<footer>
		<div class="flex flex-col items-center lg:flex-row lg:justify-between lg:items-start px-10 py-20 md:px-10 lg:px-20 lg:py-20">
			<div class="pb-16">
				<a href="/">
					<Image src={logo} width={140} alt="Pooka Labs Logo" />
				</a>
			</div>
			<div class="flex flex-col items-center gap-y-9">
				<div class="flex flex-col items-center gap-y-2">
					<h2 class="text-xl lg:text-4xl ">Got a Project?<br class="hidden lg:visible">Talk to Us</h2>
					<a href="mailto:design@pookalabs.com" class="text-xl lg:text-2xl underline">design@pookalabs.com</a>
				</div>
				<p class="text-md lg:text-2xl ">Join Us <a href="mailto:jobs@pookalabs.com" class="underline">jobs@pookalabs.com</a></p>
		</div>
			<div class="flex flex-row gap-x-12 pt-10 lg:flex-col lg:gap-y-4 lg:pt-0">
				<a href="https://www.instagram.com/pookalabsdesign/" target="_blank" rel="noopener noreferrer" class="text-md lg:text-xl"> Instagram</a>
				<a href="https://www.linkedin.com/company/pookalabsdesign" target="_blank" rel="noopener noreferrer" class="text-md lg:text-xl">LinkedIn</a>
				<a href="https://twitter.com/pookalabsdesign" target="_blank" rel="noopener noreferrer" class="text-md lg:text-xl">Twitter</a>
				<a href="https://dribbble.com/pookalabsdesign" target="_blank" rel="noopener noreferrer" class="text-md lg:text-xl">Dribbble</a>
			</div>
		</div>
		<div class="flex flex-col gap-y-3 items-center lg:flex-row lg:justify-between px-5 pb-10 md:px-10 lg:px-20 lg:py-10">
			<p class="text-gray-500 text-sm lg:text-md">© 2023 Pooka Labs Design Studo</p>
			<p class="text-gray-500 text-sm lg:text-md">Made with ❤️ in <a href="https://astro.build/" target="_blank" rel="noopener noreferrer" class="italic underline">Astro</a> & <a href="https://tailwindcss.com/" target="_blank" rel="noopener noreferrer" class="italic underline">Tailwind</a></p>
		</div>
	</footer>
	<!-- footer end -->
	</body>
	<!-- body end -->
</html>